h1 {
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
p {
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul {
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }
  body {
      background-color: black;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }
